/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

body {
    margin: 0;
    padding: 0;


}

.main-container {
    margin: auto 3rem;
    text-align: center;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.container {
    margin: 8% auto;
    border: 2px solid black;
    max-width: 450px;
    /* overflow controls the flow of text
       check the property on mdn */
    overflow: hidden;
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
    box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.2);
    text-decoration: none;
    font-size: 1rem;
}
.top-container {
    background-image: url("./images/bg-pattern-card.svg");
    height:20vh;
}

.middle-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 12rem;
}

.profile-image{
    border-radius: 50%;
    max-width:5rem;
    position: absolute;
    top: -2.5rem;
    background-color: #ffffff;
    
}


.bottom-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
}

.bottom-container>div {
    margin: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
